# Антонов Павел - Первая лаба по Pandas

### Импортировать модули sys numpy pandas

In [1]:
import sys
import numpy as np
import pandas as pd

### Создать объект pandas Series из листа, объекта NumPy, и словаря

In [7]:
print(pd.Series([1, 2, 3]))
print(pd.Series(np.arange(3)))
print(pd.Series({0: 1, 1: 2, 2: 3 }))

0    1
1    2
2    3
dtype: int64
0    0
1    1
2    2
dtype: int32
0    1
1    2
2    3
dtype: int64

### Преобразовать объект Series в DataFrame

In [8]:
pd.Series(np.arange(3)).to_frame()

   0
0  0
1  1
2  2

### Создать объект Series

In [9]:
series = pd.Series(np.arange(3))

### Преобразовать в DataFrame

In [10]:
series.to_frame()

   0
0  0
1  1
2  2

### Объединить несколько объектов Series в Dataframe

In [19]:
data = []
for i in range(5):
    data.append(pd.Series(np.arange(i, i+6), name=i))
result = pd.concat(data, axis=1, keys=[series.name for series in data])
result

   0  1  2  3  4
0  0  1  2  3  4
1  1  2  3  4  5
2  2  3  4  5  6
3  3  4  5  6  7
4  4  5  6  7  8
5  5  6  7  8  9

### Присвоить имя индексу объекта Series

In [20]:
series = pd.Series(np.arange(3))
series.name = "test"
series

0    0
1    1
2    2
Name: test, dtype: int32

### Получить элементы объекта Series A, которых нет в объекте Series B

In [2]:
first = pd.Series(np.arange(1,5))
second = pd.Series(np.arange(4,9))

### Возвратить вместе с индексами

In [22]:
first[~first.isin(second)]

0    1
1    2
2    3
dtype: int32

### Возвратить значения

In [23]:
first[~first.isin(second)].values

array([1, 2, 3])

### Получить не пересекающиеся элементы в двух объектах Series

### Возвратить вместе с индексами

In [11]:
first = pd.Series(np.arange(1,5))
second = pd.Series(np.arange(4,9))
pd.concat([first[~first.isin(second)], second[~second.isin(first)]])

0    1
1    2
2    3
1    5
2    6
3    7
4    8
dtype: int32

### Получить объединенный Series без повтороений

In [12]:
result = pd.Series(np.union1d(first, second))
result
#pd.concat([first, second]).drop_duplicates()

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int32

### Получить пересекающиеся данные

In [14]:
first = pd.Series(np.arange(1,5))
second = pd.Series(np.arange(4,9))
result = pd.Series(np.intersect1d(first, second))
result
#pd.concat([ first[first.isin(second)], second[second.isin(first)] ])

0    4
dtype: int32

### Отобрать все данные, кроме пересекающихся

### Возвратить значения

In [15]:
result = np.setxor1d(first, second, assume_unique=False)
result
#pd.concat([first[~first.isin(second)], second[~second.isin(first)]])

array([1, 2, 3, 5, 6, 7, 8])